ul{font-style:oblique;}

hr{border-style: none;
    border-top: dotted;
    border-width: 8px;
    width: 20%;
    border-color: aliceblue;}
    body{background-color:#86B6F6 ;}
    h1{color:#EEF5FF;}
    h3{color: #DCF2F1;}
    p{color: #910A67;}
